* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, header ol li {
  font-family: "roboto";
}

a:link {
  text-decoration: none;
}

header .top h1,
.menu_top h1,
footer h3 {
  font-family: "Shrikhand", sans-serif;
}

.top {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.top h1 {
  height: 80px;
  width: 100%;
  padding: 20px;
}
.top .top__localisation {
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  height: 60px;
  padding-top: 20px;
  box-shadow: inset -1px 4px 2px -1px rgba(157, 157, 157, 0.633);
  font-size: 20px;
}
.top .top__localisation .fa-location-dot {
  padding-right: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 330px;
  padding-top: 40px;
  background-color: rgb(247, 247, 247);
}
.intro h2 {
  width: 70%;
  font-size: 30px;
  text-align: center;
}
.intro p {
  font-size: 20px;
  width: 70%;
  text-align: center;
}

.intro button {
  border: none;
  height: 50px;
  width: 210px;
  margin: 30px 0 50px 0;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 5px 5px 5px rgba(157, 157, 157, 0.633);
}

._menu {
  background-color: rgb(245, 245, 245);
}

.menu {
  margin: -70px 0 30px 0;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
.menu h1 {
  background-color: rgb(245, 245, 245);
  width: 100%;
  padding: 30px 0 0 30px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.menu h1 i {
  margin-left: 195px;
  padding-top: 5px;
  font-size: 30px;
}

ul {
  padding-left: 30px;
  list-style: none;
}
ul li .title {
  font-size: 24px;
  margin-bottom: 20px;
}
ul li .information {
  background-color: white;
  height: 100px;
  width: 95%;
  border-radius: 30px;
  margin-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 5px rgb(192, 191, 191);
}
ul li .information h2 {
  margin-bottom: 5px;
}
ul li .information .information__info {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  font-size: 20px;
}

.fonction {
  counter-reset: list;
  height: 450px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fonction h2 {
  font-size: 30px;
  width: 100%;
  margin: 30px 0 0 15px;
}
.fonction ol {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.fonction ol li {
  padding: 25px 0 25px 20px;
  width: 93%;
  margin-bottom: 30px;
  border-radius: 25px;
  display: flex;
  box-shadow: 2px 5px 15px rgba(205, 205, 205, 0.633);
  background-color: rgb(247, 247, 247);
  font-size: 20px;
  font-weight: bold;
  list-style: none;
}
.fonction ol li i {
  margin-right: 30px;
}
.fonction ol li::before {
  content: counter(list);
  counter-increment: list;
  background-color: #9356DC;
  color: white;
  padding: 5px 9px 5px 9px;
  border-radius: 50%;
  margin-left: -32px;
  margin-right: 32px;
  font-size: 14px;
  font-family: "roboto";
}

.menus {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menus h2 {
  width: 100%;
  margin: 30px 0 30px 38px;
  font-size: 30px;
}
.menus article {
  width: 85%;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.menus article figure {
  height: 260px;
}
.menus article figure img {
  height: 190px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.menus article figcaption {
  color: black;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menus article figcaption i {
  font-size: 25px;
}
.menus article figcaption div {
  margin: 10px 20px 0 0;
}
.menus article figcaption .fa-color {
  transition: color 0ms;
}
.menus article figcaption .fa-color:hover {
  color: #9356DC;
}
.menus .menus__new {
  position: relative;
}
.menus .menus__new::before {
  content: "Nouveau";
  font-family: "roboto";
  position: absolute;
  right: 15px;
  top: 15px;
  height: 20px;
  background-color: #99E2D0;
  width: 70px;
  height: 30px;
  display: grid;
  place-items: center;
}

.menu_top {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}
.menu_top h1 {
  height: 80px;
  width: 80%;
  padding: 20px;
  font-size: 40px;
}
.menu_top .fa-arrow-left {
  padding-top: 35px;
  margin-left: 40px;
  font-size: 30px;
  font-weight: 900;
  color: black;
}

.banner img {
  display: block;
  object-position: center bottom;
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.menus_button {
  border: none;
  height: 60px;
  width: 230px;
  margin: 30px 0 50px 150px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 5px 5px 5px rgba(157, 157, 157, 0.633);
}

footer {
  background-color: rgb(55, 55, 55);
  color: white;
  height: 250px;
  padding: 20px 0 0 40px;
}
footer ul {
  height: 80%;
  font-size: 22px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer ul li a {
  color: white;
}
footer ul li .fa-utensils {
  margin-right: 8px;
}

/*# sourceMappingURL=style.css.map */
