    footer {
        background-color: rgb(55, 55, 55);
        color: white;
        height : 250px;
        padding : 20px 0 0 40px;
        h3 {
            width: 90%;
            margin : 15px 0 15px 1%;
            font-size: 25px;
            @media screen and (min-width: 1189px){
                width: 95%;
            }
            @media screen and (min-width: 836px){
                width: 95%;
                margin-bottom: 15px;
                padding-top: 10px;
                text-align: center;
                font-size: 30px;
            }  
        }
        ul {
            height: 80%;
            font-size: 22px;
            list-style: none;
            display: flex;
            flex-direction: column;
            li {
                margin-bottom: 5px;
                a {
                    color : white;
                } 
                .fa-utensils {
                    margin-right : 5px;
                }
                .fa-handshake-angle {
                    font-size: 18px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            @media screen and (min-width: 836px){
                height: 50px;
                flex-direction: row;
                justify-content: space-around;
            }
        }
        @media screen and (min-width: 836px){
            height: 150px;
            padding: 0px 25px 0 0;
        }
    }
