.top {
    display: flex;
    flex-direction: column;
    text-align: center;
    h1 {
        height : 80px;
        width : 100%;
        padding : 20px; 
        @media screen and (min-width: 1189px){
            font-size: 60px;
            height: 120px;
        }   
    }
    .top__localisation {
        background-color: rgb(230, 230, 230);
        display: flex;
        justify-content: center;
        height: 60px;
        padding-top : 20px;
        box-shadow: inset -1px 4px 2px -1px rgba(157, 157, 157, 0.633);
        font-size: 20px;
        @media screen and (min-width: 1189px){
            height: 90px;
            padding-top: 35px;
            font-size: 25px;
        }
        .fa-location-dot {
            padding-right : 20px;
        }
    }
}
.intro {
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 330px;
    padding-top : 40px;
    background-color: rgb(247, 247, 247);
    h2 {
        width: 70%;
        font-size: 30px;
        text-align: center;
    }
    p {
        font-size: 20px;
        width :70%;
        text-align: center;
    }
}