@import '../layout/header';
@import '../composants/button';
@import '../layout/footer';

@include header;
._menu {
    background-color: $tertiaire;
}
.menu {
    margin: -70px 0 30px 0;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
    h1 {
        background-color: $tertiaire;
        width: 100%;
        padding: 30px 0 0 30px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        i {
            margin-left: 195px;
            padding-top : 5px;
            font-size: 30px;
            position :absolute;
                right: 50px;
                top: 50px;
        }
        .fa-color {
            opacity: 0;
            transition: all 600ms;
        }
        &:hover {
            .fa-invisible {
                display: none;
            }
            .fa-color {
                opacity: 1;
                transition: all 600ms;
                @include degrade;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

    }
}
ul {
    padding-left: 30px;
    list-style: none;
    li {
        
    animation: cascade 2s;
    animation-fill-mode: both;
    @for $i from 1 through 10 {
        &:nth-child(#{$i}){
            animation-delay: 200ms * $i;
        }
    }
        .title {
            font-weight: 300;
            font-size: 24px;
            margin-bottom: 5px;
        }
        .color {
            height: 4px;
            width : 60px;
            background-color: #99E2D0;
            margin-bottom: 20px;
        }
        
        .information {
            overflow: hidden;
            background-color: white;
            height : 100px;
            width : 95%;
            border-radius: 25px;
            margin-bottom: 20px;
            padding-left : 15px;
            display: flex;
            box-shadow: 2px 2px 5px rgb(192, 191, 191);
            h2 {
                margin-bottom : 5px;
            }
            .information__description {                
                width: 100%;
                max-width: 100%;
                min-width: 20%;
                padding-top : 20px;
                overflow: hidden;
                h3 {
                    font-size: 24px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                p {                    
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 22px;
                    margin-top: 10px;
                }
            }
            .information__price {
                padding : 60px 30px 0 10px;
                font-size: 20px;
            }
        }
        .information__check {
            background-color: #99E2D0;
            height: 100px;
            width: 90px;
            margin-right : -95px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 1s;
            .fa-circle-check {
                font-size: 35px;
                color: white;
            }
        }
        .information:hover .information__check {
            margin-right: -1px;
            .fa-circle-check {
                transform: rotate(-2turn);
                transition : 1s;
            }
        }
    }
}
.bouton {
    width: 100%;
    display: flex;
    justify-content: center;
}   