@import '../composants/button';

._menu {
    background-color: $tertiaire;
}
.menu {
    @media screen and (min-width: 1189px){
        margin-bottom: 50px;
    }
    margin: -70px 0 30px 0;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
    h1 {
        background-color: $tertiaire;
        width: 100%;
        padding: 30px 0 0 30px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        i {
            margin-left: 195px;
            padding-top : 5px;
            font-size: 30px;
            position :absolute;
                right: 50px;
                top: 50px;
        }
        .fa-color {
            opacity: 0;
            transition: all 600ms;
        }
        &:hover {
            .fa-invisible {
                display: none;
            }
            .fa-color {
                opacity: 1;
                transition: all 600ms;
                @include degrade;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}
.ul__container {
    @media screen and (min-width: 1000px){
        display: flex;
        justify-content: space-around;
    }
    ul {
        @media screen and (min-width: 1000px){
            width: 30%;
        }
    }
}
.menu__ul__first {
    padding-left: 30px;
    list-style: none;
    li { 
    animation: cascade 2s;
    animation-fill-mode: both;
    @for $i from 1 through 10 {
        &:nth-child(#{$i}){
            animation-delay: 2.1s + 200ms * $i;
        }
    }
    }
    @include li_menu_content;
}
.menu__ul__second {
    padding-left: 30px;
    list-style: none;
    li { 
    animation: cascade 2s;
    animation-fill-mode: both;
    @for $i from 1 through 10 {
        &:nth-child(#{$i}){
            animation-delay: 2.7s + 200ms * $i;
        }
    }
    }
    @include li_menu_content;
}
.menu__ul__third {
    padding-left: 30px;
    list-style: none;
    li { 
    animation: cascade 2s;
    animation-fill-mode: both;
    @for $i from 1 through 10 {
        &:nth-child(#{$i}){
            animation-delay: 3.3s + 200ms * $i;
        }
    }
    }
    @include li_menu_content;
}
.bouton {
    width: 100%;
    display: flex;
    justify-content: center;
}   