// ZONE "FONCTIONNEMENT"
.fonction {
    counter-reset : list;
    height : 450px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h2 {
        font-size: 30px;
        width: 100%;
        margin : 30px 0 0 15px;
    }
    ol {
        width: 90%;
        display: flex;
        flex-direction: column;
        li {
            padding : 25px 0 25px 20px;
            width: 93%;
            margin-bottom: 30px;
            border-radius: 25px;
            display: flex;
            box-shadow: 2px 5px 15px rgba(205, 205, 205, 0.633);
            background-color: rgb(247, 247, 247);
            font-size: 20px;
            font-weight: bold;
            list-style: none;
            i {
                margin-right : 30px;
            }
            &::before {
                content : counter(list);
                counter-increment : list;
                background-color: #9356DC;
                color: white;
                padding : 5px 9px 5px 9px;
                border-radius: 50%;
                margin-left: -32px;
                margin-right: 32px;
                font-size: 14px;
                font-family: 'roboto';
            }
        }
    }
}
// ZONE RESTAURANTS
.menus {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h2 {
        width: 100%;
        margin : 30px 0 30px 38px;
        font-size: 30px;
    }
    article {
        width : 85%;
        background-color: white;
        margin-bottom : 30px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
        figure {
            height: 260px;
            img {
                height: 190px;
                width : 100%;
                object-fit: cover;
                border-top-left-radius: 20px;
                border-top-right-radius : 20px;
            }
        }
        figcaption {
            color : black;
            padding-left : 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            i{
                font-size: 25px;
            }
            div {
                margin : 10px 20px 0 0;
            }
            .fa-color {
                transition: color 00ms;
                &:hover {
                    color: $secondary;
                }
            }
        }
    }
    .menus__new {
        position : relative;
        &::before {
            content : "Nouveau";
            font-family: 'roboto';
            position : absolute;
            right : 15px;
            top : 15px;
            height: 20px;
            background-color: #99E2D0;
            width: 70px;
            height : 30px;
            display: grid;
            place-items: center;
        }
    }
}