@keyframes cascade {
    0% {
        transform: translateY(70%);
        opacity: 0;
    }
    100% {
        transform: tranlateY(0);
        opacity: 1;
    }
}
@keyframes heart {
    0% {
        opacity : 0;
    }
    100% {
        opacity : 1;
    }
}
@keyframes validation {
    0% {
        margin-right: -95px;
    }
    100% {
        margin-right: -1px;
    }
}
