$primary : #FF79DA;
$secondary : #9356DC;
$tertiaire : rgb(245, 245, 245);

@mixin gradiant {
    background : linear-gradient(to bottom right, $primary, $secondary);
}
@mixin degrade {
    background : linear-gradient(to bottom right, $primary, $secondary);
}

